@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

/* Estilo principal */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

	body, input, select, textarea {
		color: #151515;
		font-family: "Open Sans", sans-serif;
		font-size: 12pt;
		font-weight: 400;
		line-height: 1.65;
	}

a {
	color: #227A4B;
	text-decoration: none;
}
	a:hover {
		border-bottom-color: #227A4B;
		color: #35B254 !important;
	}
	a:hover strong {
		color: inherit;
	}
	a>p{
		color: #227A4B;
	}
	a>p:hover{
		color: inherit;
	}

strong, b {
	color: #3d4449;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
	color: #6E6E6E;
}

h1, h2, h3, h4, h5, h6 {
	color: #3d4449;
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1em 0;
}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}
		h1 {
			font-size: 4em;
			margin: 0 0 0.5em 0;
			line-height: 1.3;
		}
		h2 {
			font-size: 1.75em;
		}
		h3 {
			font-size: 1.25em;
		}
		h4 {
			font-size: 1.1em;
		}
		h5 {
			font-size: 0.9em;
		}
		h6 {
			font-size: 0.7em;
		}

hr {
	border: 0;
	border-bottom: solid 1px rgba(210, 215, 217, 0.75);
	margin: 2em 0;
}
	hr.major {
		margin: 3em 0;
	}

/* Alinear texto */

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Image */

.image {
	border-radius: 0.375em;
	border: 0;
	display: inline-block;
	position: relative;
}

	.image img {
		border-radius: 0.375em;
		display: block;
	}

	.image.left, .image.right {
		max-width: 40%;
	}

		.image.left img, .image.right img {
			width: 100%;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

/* Otros */

.btnPpal{
	background-color: #227A4B;
	border-color: #FFFFFF;
	color: #FFFFFF;

}
.btn.focus, .btn:focus, .btn:hover {
    color: #FFFFFF;
    background-color: #35B254;
    text-decoration: none;
}

#portadaPpal{
	background-image: url("../images/portadaBN.jpg");
	background-repeat: no-repeat;
}
#portada{
	text-align: center;
	margin-top: 5%;
}
#titulo{
	margin-bottom: 2%;
	color: #FFFFFF;
}
#inicioSesion{
	display: block;
	margin: auto;
	margin-bottom: 15%;
	width: 400px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 5px;
	border-color: #227A4B;
	border-radius: 10px;
	padding: 30px;
	margin-top: 60px; 
}
#caracteristicas{
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}
.caract{
	display: block;
	height: 100px;
	margin-bottom: 20%;
}
.anuncio{
	display: block;
	margin: auto;
	width: 70%;
	background-color: #F2F2F2;
	border-style: solid;
	border-width: 1px;
	border-color: #227A4B;
	border-radius: 10px;
	padding: 10px;
}

/* Footer */

footer{
	background-color: #FFFFFF;
}

footer .copyright {
	color: #9fa3a6;
	font-size: 0.9em;
	text-align: center;
}

footer .copyright a {
	color: inherit;
}

/* Header */

.header{
	background: #585858;
	color: #F2F2F2;
	font-family: "Open Sans", sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.65;
	padding-top: 0.7%;
	padding-bottom: 0.7%;
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 0%;
	margin-left: 0%;
}

.idioma_icon{
	color: #FFFFFF;
	font-size: 13pt;
	margin-right: 15px;
}

.user_icon{
	color: #FFFFFF;
	font-size: 20pt;
	margin-right: 15px;
}

.conf{
    background-color: #585858;
    border: 1px solid #848484;
	margin-left: 15px;
}

/* Nav */

.nav{
	width:100%;
	float: left;	
}

ul {
	background-color: #1D8348;
    float: left;
    width: 100%;
}

li {
    display: inline;
    width:100%;
}

.nav a {	
    float: left;
    width: 20%;
    text-decoration: none;
    text-align:center;
    font-family: "Open Sans", sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.65;
    padding: 1% 0% 1% 0%;  
    color: #FFFFFF;
}

.nav a:hover {
    background-color: #186A3B;
	color: #FFFFFF !important;
}

/* Portada */

#ppal{
	margin-top: 6%;
	margin-bottom: 2%;
}

#caja_animales{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	padding: 2%;
	background-color: #FF5733;
 	box-shadow: inset 0 0 0 3px #FF5733;
	border-color: #FF5733;
	border-radius: 8px;
}

#caja_animales:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #FF5733;
}

#caja_explotaciones{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	padding: 2%;
	background-color: #72CCAC;
 	box-shadow: inset 0 0 0 3px #72CCAC;
	border-color: #72CCAC;
	border-radius: 8px;
}

#caja_explotaciones:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #72CCAC;
}

#caja_embarazos{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	padding: 2%;
	background-color: #AF81B8;
 	box-shadow: inset 0 0 0 3px #AF81B8;
	border-color: #AF81B8;
	border-radius: 8px;
}

#caja_embarazos:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #AF81B8;
}

#caja_movimientos{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	padding: 2%;
	background-color: #578FBD;
 	box-shadow: inset 0 0 0 3px #578FBD;
	border-color: #578FBD;
	border-radius: 8px;
}

#caja_movimientos:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #578FBD;
}

#caja_estadisticas{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	padding: 2%;
	background-color: #E8EE8F;
 	box-shadow: inset 0 0 0 3px #E8EE8F;
	border-color: #E8EE8F;
	border-radius: 8px;
}

#caja_estadisticas:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #E8EE8F;
}

.titulo_caja_ppal{
	color: #000000;
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.5em;
	margin-bottom: 1.5%;
}

.texto_caja_ppal{
	color: #000000;
	font-size: 1em;
	margin-bottom: 2%;	
}

/* Editar perfil */

#editar_perfil{
	margin-top: 3%;
}

#editar_perfil_izda{
	height: 410px;
	background-color: #E6F7EA;
	padding-top: 1%;
	padding-left: 2%;
}

#editar_perfil_dcha{
	padding-top: 1%;
}

#nav_perfil{
	background-color: #E6F7EA;
    float: left;
    width: 100%;
}

#nav_perfil li {
    display: inline;
    width:100%;
}

#nav_perfil a {	
    width: 100%;
    text-decoration: none;
    text-align:left;
    font-family: "Open Sans", sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.65;
    padding: 1% 8% 1% 2%;  
    color: #000000;
}

#nav_perfil a:hover {
    background-color: #186A3B;
	color: #FFFFFF !important;
}

.nombre_usuario_perfil{
	margin-bottom: 0%;
}



